#NewsIntroduction-wrap{
	width: 100%;
	background: #F4F4F4;
	/*overflow: hidden;*/
	margin-top: 104px;
}
.NewsIntroduction{
	width: 100%;
	height: 241px;
	background: #F4F4F4;
	position: relative;
}
.NewsIntroduction-a{
	width: 33%;
	float: right;
}
.NewsIntroduction-a>em>img{
	display: inline-block;
	margin-top: 35px;
}
.NewsIntroduction-a>span{
	font-family: MicrosoftYaHeiUI;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #7a7a7a;
	margin-top: 35px;
}
.NewsIntroduction-a h3{
	font-family: MicrosoftYaHeiUI;
	font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #535353;
	margin-top: 22px;
	margin-bottom: 18px;
}
.NewsIntroduction-a p{
	font-family: MicrosoftYaHeiUI;
	font-size: 12px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #7a7a7a;
	text-indent: 1em;
}
.read{
	width: 200px;
	height: 40px;
	border: solid 1px #5eaec1;
	line-height: 40px;
	margin-top: 45px;
	margin-bottom: 33px;
}
.read span{
	float: left;
	margin-left: 22px;
	font-family: MicrosoftYaHeiUI;
	font-size: 17px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #5eaec1;
}
.read img{
	float: left;
	margin-top: 10px;
	margin-left: 22px;

}
.Newtion-img{
	width: 400px;
	height: 270px;
	position: absolute;
    top: -13px;
    left: 20%;
}
.Newtion-img img{
	width: 100%;
	height: 100%;
}
#NewList-wrap{
	width: 100%;
	margin-top: 90px;
}
.NewList{
	width: 100%;
}
.NewList-left{
	max-width: 905px;
}
.NewList-left-a{
	width: 100%;
	display: flex;
	align-items: center;
    justify-content: space-around;
}
.NewList-left-a:nth-child(odd){
	background: #F4F4F4;
}
.Newtime{
	font-family: MicrosoftYaHeiUI;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #7a7a7a;
}
.New-a{
	width: 1px;
	height: 80px;
	border: solid 1px #b4b4b4;
	background: #B4B4B4;
	margin-top: 25px;
	margin-bottom: 25px;
}
.New-b img{
	display:inline-block ;
}
.New-b span{
	font-family: MicrosoftYaHeiUI;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #535353;
}
.New-b p{
	font-family: MicrosoftYaHeiUI;
	font-size: 12px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #7a7a7a;
	line-height: 25px;
	margin-top: 5px;
	text-indent: 1em;
}
.case-right-btn{
	width: 42.17%;
    height: 30px;
    border-radius: 5px;
    border: solid 1px #0063b2;
    line-height: 30px;
    background: #FFFFFF;
    float: left;
    margin-top: -88%;
}
.case-right-btn input{
	float: left;
}
.case-right-btn span{
	float: left;
}
#btn1{
	width: 59%;
	height: 28px;
	border: 0;
	border-radius: 5px;
}
.case-right-span{
	color: #0063b2;
}
.case-right-span1{
	margin-top: 3%;
	margin-left: 5%;
	margin-right: 5%;
	 cursor: pointer;
}
#btn2{
	height: 30px;
	line-height: 30px;
	border: 0;
	background: #FFFFFF;
	font-family: SourceHanSansCN-Normal;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #7a7a7a;
	cursor: pointer;
}
.case-right-one{
	width: 33%;
	min-height: 20%;
	margin-top: 37px;
}
.case-box{
	width: 4px;
	height: 19px;
	background-color: #e60012;
	border-radius: 2px;
	float: left;
}
#CASE h3{
	font-family: SourceHanSansCN-Bold;
	font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 35px;
	letter-spacing: 0px;
	color: #535353;
	float: left;
	margin-top: -8px;
	margin-left: 6px;
}
.case-right-box{
	height: 32px;
	border-bottom:solid 2px #b4b4b4; ;
}
.case-label{
	width: 240px;
	height: 135px;
	margin-top: 17px;
}
.case-label span{
	width: 80px;
	height: 30px;
	background-color: #0fbcdc;
	border-radius: 5px;
	line-height: 30px;
}
.case-label span a{
	width: 65px;
	height: 13px;
	font-family: SourceHanSansCN-Normal;
	font-size: 12px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #ffffff;
	line-height: 13px;
}
.case-right-box p{
    float: right;
	line-height: 35px;
	letter-spacing: 0px;
	margin-top: -8px;
}
.case-right-box p a{
	color: #7a7a7a;	
	font-family: SourceHanSansCN-Normal;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
}
.Course-review{
	width: 33%;
    margin-top: -201px;
    margin-left: 414px;
    float: left;
}
.Course-review-tu{
	margin-top: 16px;
}
.Course-review-tu>span{
	width: 60px;
	height: 60px;
}
.Course-review-tu>span>img{
	width: 60px;
	height: 60px;
	display: inline-block;
	margin: 2px;
}
.News-Center{
	margin-top: -40px;
    width: 33%;
    float: left;
}
.News-Center-box{
	width: 6px;
	height: 6px;
	background-color: #0063b2;
	float: left;
	margin-top: 15px;
}
.News-Center-ul li a span{
	font-family: SourceHanSansCN-Normal;
	font-size: 12px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 35px;
	letter-spacing: 0px;
	color: #7a7a7a;
	float: left;
	margin-left: 4px;
}
.News-Center-span{
	width: 167px;
	overflow:hidden; 
	white-space:nowrap;
    text-overflow:ellipsis;
}
